.category-page {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  h2 {
    font-size: 38px;
    margin: 0px auto 30px;
    display: block;
    font-weight: bold;
    text-align: center;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
}
