.shop-page {
  width: 100%;
  .shop-column {
    display: flex;
    flex-direction: column;
    .shop-row {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      h1 {
        font-size: 28px;
        margin-bottom: 25px;
        cursor: pointer;
        text-transform: uppercase;
      }
      .shop-category-offers {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
      }
    }
  }
}
